main {
    width: 100%;
    height: 90vh;
    display: flex;
    
}

main section.social {
    display: flex;
    flex-direction: column;

    width: 50%;
    background-color: #ffffff00;
}
.txt {
    margin: 5vh;
}
.button {
    display: flex;
    margin: 5px auto;

}
main section.email {
    width: 50%;
    /* background-color: #000000ee; */

}    

form legend {
    margin-bottom: 3vh;
}
form {
    /* background-color: black; */
    color: var(--rosinha);

    border-radius: 7px;
    padding: 64px;


    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.field, legend, form h1{
    display: flex;
    flex-direction: column;
    margin: 5px auto;
}


form input {
    max-width: 300px;
    
    padding: 5px;
    
    border-radius: 8px;
    border: 1px solid rgba(121, 119, 119, 0.267);
    
    outline: none;
    
    background-color: transparent;
}

form textarea {
    max-width: 200px;

    outline: none;


}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}