header {
    height: 100vh;
}
.title-txt {
    margin: 30vh auto;
    width: 40%;
    text-align: center;
    color: white;

}
.title-img {
    text-align: center;
    margin: 20px auto;
    width: 60%;
}
.title-img img {
    width: 59%;
    margin: auto;
}
.buttons {
    margin-left: auto;
    width: 59%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.bolinha {
    width: 20px;
    height: 20px;
    background-color: var(--rosinha);
    border-radius: 50%;
    margin-left: 6px;
}
header h1 {
    color: var(--roxo);
    font-size: 3em;
}

header ul{
    display: flex;
    margin: 0px auto;

    text-align: center;
    justify-content: center;

}

.title-txt ul li {
    padding: 6px;
    padding-left: 1px;
    font-weight: 600;
    font-size: 14px;
}
.hero {
    display: flex;
    flex-direction: row;
}

section {
    align-items: center;
    width: 90%;
    text-align: center;
    margin: 10px auto;

}

section img {
    margin: 0 auto;
    width: 270px
}


footer {
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--rosinha);
    font-size: 14px;
    font-weight: 300;
    background-color: var(--marrom);
    color: var(--branquinho);
    
}
