* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul li {
    list-style-type: none;
}

/* h1,h3,h4,h5,h6{
    color: var(--rosinha);
}

h2 {
    color: var(--roxo);
} */
:root {
    --rosinha: #ec98a7;
    --branquinho: #f3f1f1;
    --azul: #dbdef5;
    --roxo: #2e2259;
    --marrom: #110b00d2;
}

.title {
    color: var(--rosinha);
    font-size: 20px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

header {
    display: flex;
    flex-direction: column;
}

.nav {

    background-color: rgba(0, 0, 0, 0.602);
    background-image: url('../img/background2.png');
    background-position: 2px -70px;
    background-repeat: no-repeat;
    background-blend-mode: color;
    
    padding: 30px;
    color: var(--branquinho);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}   

.nav ul{
    flex: 1;
    justify-content: flex-end;

}

header nav ul {
display: flex;
flex-direction: row;
}

header nav ul li{
    font-size: 20px;
    margin: 0 20px;
    
    
    cursor: pointer;
    transform: 400ms;
    padding: 10px;
}

header nav ul li a {

}
header nav ul li:hover{
    opacity: 80%;
    background-color: #dbdef53b;
}

footer {
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--rosinha);
    font-size: 14px;
    font-weight: 300;
    background-color: var(--marrom);
    color: var(--branquinho);
    
}
