.container {
    width: 80%;
    margin: 0px auto;

}

.card_img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px;
    margin: 20px auto;

}
.small_img{
    height: 100%;
    cursor: pointer;
    transition: 1s;
}
.small_img:hover{
    transform: scale(1.1);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    flex-wrap: wrap;


}