@media (max-width: 600px) {
    .nav {

        padding: 20px;
        margin: 0 auto;
    
        display: flex;
        flex-direction: row;
        
    }   
    

    header nav ul {
        }
        
        header nav ul li{
            font-size: 15px;
            margin: 0 10px;
            
            
            cursor: pointer;
            transform: 400ms;
            padding: 1px;
        }
        
}